@import "../../../sass/colors";

.anime-cell {
  padding: 5px 5px 20px;

  &:hover {
    background-color: lighten($background, 10%);
    transform: scale(1.05, 1.05);
  }

  & > div:first-child {
    position: relative;
    height: 0;
    padding-top: calc(100% / 225 * 320);

    & > div:first-child {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }

  .title {
    position: absolute;
    left: 0;
    right: 0;
    height: 20px;
    padding-top: 2px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}