@import "utils";

$primary : #cfcfcf;
$primary-light : color(teal-l-5);
$primary-dark : color(teal-l-1);
$secondary : color(lightblue-d-3);
$secondary-light : color(lightblue-l-1);
$secondary-dark : color(lightblue-d-5);
$accent : color(red-d-1);
$accent-light : color(red-l-1);
$accent-dark : color(red-d-2);
$background : color(black-l-3);
$foreground : color(black-l-4);