@import "../../sass/variables";
@import "../../sass/colors";
@import "~include-media/dist/include-media";

$topSectionHeight: 60%;

#anime-content {

  display: grid;
  grid-template-rows: auto max-content;

  #top-section {
    padding: 5px 5px 40px;
    overflow-y: auto;

    h2 {
      display: inline;
      font-size: 1em;
    }

    h3 {
      font-size: 0.9rem;
      border-bottom: lighten($accent-dark, 10%) 1px solid;
      padding-bottom: 2px;
    }

    #top-section-content {
      max-width: 967px;
      margin: 0 auto;

      #content {

        display: grid;

        #left-column {

          min-width: 200px;
          width: 100%;

          #preview {
            width: 100%;
            max-width: 200px;
            margin: 0 auto;
            grid-area: preview;

            #image {
              object-fit: cover;
              height: auto;
            }
          }

          #titles {

            grid-area: titles;

            li {
              margin-bottom: 5px;
            }
          }

          #information {
            grid-area: information;
          }
        }

        #description {
          h3:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
}

@include media("<desktop") {

  #anime-content {
    display: block;
    position: relative;

    #top-section {
      max-height: 100%;

      #top-section-content {
        margin-bottom: 40px;

        #title {
          text-align: center;
        }
      }
    }

    #bottom-section {
      position: absolute;
      bottom: 0;
      width: 100%;

      #collapsible-content {
        height: calc(100vh - #{$navBarHeight} - 30px);
      }
    }
  }
}

@include media(">=phone", "<tablet", "landscape") {

  #anime-content {
    #top-section {
      #top-section-content {
        #title {
          text-align: center;
        }

        #content {
          padding: 0 5px 5px;

          #left-column {
            display: grid;
            grid-column-gap: 15px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            grid-template-areas: "preview preview" "information titles";
          }
        }
      }
    }
  }
}

@include media(">=tablet") {

  #anime-content {
    #top-section {
      #content {

        grid-template-columns: 200px auto;

        #description {
          padding: 0 25px 25px;
        }
      }
    }
  }
}

@include media(">=desktop") {

  #bottom-section {
    #collapsible-content {
      height: 200px;
    }

    #collapsible-content:not(.collapsed) {
      max-height: 200px;
    }
  }
}