@import "../../../sass/colors";
@import "~include-media/dist/include-media";

#collapsible-wrapper {
  #collapsible-header {
    height: 30px;
    padding: 5px;
    border-bottom: $accent-dark 1px solid;
    box-shadow: 0 0 2px 2px $accent-light;
    background-color: darken($background, 5%);
    font-weight: bolder;

    .collapsible-heading {
      margin-left: 10px;
    }
  }

  #collapsible-content {
    background-color: lighten($background, 5%);
    max-height: 500px;
    transition: max-height 0.5s;
    overflow-y: auto;

    @include media("height>500px", "height<=1000px") {
      max-height: 1000px;
    }

    @include media("height>1000px", "height<=1500px") {
      max-height: 1500px;
    }

    @include media("height>1500px", "height<=2000px") {
      max-height: 2000px;
    }

    @include media("height>2000px") {
      max-height: 2500px;
    }

    &.collapsed {
      max-height: 0;
    }
  }
}