@import "../../sass/colors";
@import "../../sass/variables";

.NavigationBar {

  position: fixed;
  top: 0;
  left: 0;
  padding: 5px;
  width: 100%;
  height: $navBarHeight;
  background-color: lighten($background, 5%);
  z-index: 1000;

  .link-active:before {
    content: '> '
  }

  a {

    margin: 0 5px;
    text-decoration: none;
    color: $accent;

    &:hover {

      color: $accent-light;
      border-bottom: $accent-light 1px solid;
    }
  }
}