@import "sass/colors";
@import "sass/variables";

* {
  box-sizing: border-box;
}

html, body, #root,
#root > div:first-child,
#content-container,
#content-container > div:first-child {
  height: 100%;
}

#content-container {
  padding: 60px 0 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 0.9rem;
  color: $primary;
  background-color: $background;
}

a {
  &, &:active, &:hover, &:visited {

    color: $primary;
  }
}

ul {

  padding: 0;

  li {
    list-style: none;
  }
}

::-webkit-scrollbar {
  width: 10px;
  padding: 5px 0;
}

::-webkit-scrollbar-track {
  background-color: lighten($background, 10%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: lighten($background, 20%);
  border-radius: 10px;
}

.button {
  display: block;
  width: 200px;
  background-color: $accent;
  border: $accent-light 1px solid;
  text-align: center;
}

.button:hover {
  background-color: $accent-light;
  border: $accent 1px solid;
}

a.button {
  text-decoration: none;
}

.bold {
  font-weight: bolder;
}

.wrap-block {
  display: inline-block;
  vertical-align: top;
  white-space: pre-wrap;
}