@import "../../sass/variables";
@import "../../sass/colors";
@import "~include-media/dist/include-media";

#anime-grid {

  height: 100%;
  padding: 10px;

  #anime-grid-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, auto));
    grid-gap: 5px;
    padding-bottom: 20px;
    font-size: 0.7rem;
  }
}
